@*@model IEnumerable<EdgarAparicio.BethanysPieShop.Business.Entity.Pie>*@

@*@model BethanysPieShopNetCore2.ViewModels.HomeViewModels             //Se comenta porque en la vista _ViewImports ya le agregamos el espacio de nombres *@
@model HomeViewModels

@{
    Layout = "_Layout";
}

@*<h2>@ViewBag.Title</h2>*@

<h2>@Model.Titulo</h2>

@*@foreach(var pie in Model)
    {
        <div>
            <h2>@pie.Nombre</h2>
            <h3>@pie.Precio.ToString("c")</h3>
        </div>
    }*@

@foreach (var pie in Model.ListaPies)
{
    @*<div>
        <h2>@pie.Nombre</h2>
        <h3>@pie.Precio.ToString("c")</h3>
    </div>*@

    <div class="col-sm-4 col-lg-4 col-md-4" >
        <div class="thumbnail">
            <img src="@pie.ImagenThumbnaiUrl" alt=""/>
            <div class="caption">
                <h3 class="pull-right">@pie.Precio.ToString("c")</h3>
                <h3>
                    <a asp-controller="Home" asp-action="Detalle"
                       asp-route-id="@pie.Id" >@pie.Nombre</a>
                </h3>
                <p>@pie.DescripcionCorta</p>
            </div>
        </div>
    </div>


}